<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold m-2 mx-5" href="#">Rick and Morty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-secondary" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" routerLink="/about">About</a>
        </li>
      </ul>
      <form class="d-flex me-5 mx-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
