<div class="row m-2" *ngIf="characters!=null; else wait">
    <div>
      <button class="btn btn-success" routerLink="/characters/add">Create a new character</button>
    </div>
    <div class="col mt-4 d-flex justify-content-center" *ngFor="let character of characters">
            <div class="card bg-dark p-2" style="width: 18rem;">
                <img src="{{ character.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title text-center">{{ character.name}}</h6>
                        <div class="d-grid gap-2">
                        <a class="btn btn-warning" routerLink="/characters/character/show" [queryParams]="{id: character.id}">See more</a>
                        </div>
                    </div>
            </div>
          </div>
</div>
<ng-template #wait>Waiting for the data...</ng-template>
