<div class="container d-flex justify-content-center">
<div class="row m-4" *ngIf="character!=null; else wait">
  <div class="col">
      <div class="card bg-dark text-light" >
              <img class="card-img-top p-2" src="{{ character.image }}" alt="Card image cap">
              <div class="card-body p-2">
                  <div class="col">
                    <br>
                    <div class="col">
                      <label for="name" class="form-label">Name</label>
                      <div *ngIf="editMode">
                        <input type="text" class="form-control" id="name" required [(ngModel)]="character.name">
                      </div>
                      <div *ngIf="!editMode">
                        <input type="text" class="form-control" id="name" required [(ngModel)]="character.name" readonly="readonly">
                      </div>
                    </div>

                    <div class="col">
                      <label for="status" class="form-label">Status</label>
                      <div *ngIf="editMode">
                        <input type="text" class="form-control" id="status" required [(ngModel)]="character.status">
                      </div>
                        <div *ngIf="!editMode">
                          <input type="text" class="form-control" id="status" required [(ngModel)]="character.status" readonly="readonly">
                        </div>
                    </div>

                    <div class="col">
                      <label for="species" class="form-label">Species</label>
                      <div *ngIf="editMode">
                        <input type="text" class="form-control" id="species" required [(ngModel)]="character.species">
                      </div>
                      <div *ngIf="!editMode">
                        <input type="text" class="form-control" id="species" required [(ngModel)]="character.species" readonly="readonly">
                      </div>
                    </div>

                    <div class="col">
                      <label for="gender" class="form-label">Gender</label>
                      <div *ngIf="editMode">
                        <input type="text" class="form-control" id="gender" required [(ngModel)]="character.gender">
                      </div>
                      <div *ngIf="!editMode">
                        <input type="text" class="form-control" id="gender" required [(ngModel)]="character.gender" readonly="readonly">
                      </div>
                    </div>

                    <div class="col">
                      <label for="origin" class="form-label">Origin</label>
                      <div *ngIf="editMode">
                        <input type="text" class="form-control" id="origin" required [(ngModel)]="character.origin">
                      </div>
                      <div *ngIf="!editMode">
                        <input type="text" class="form-control" id="origin" required [(ngModel)]="character.origin" readonly="readonly">
                      </div>
                    </div>
                    <br>
                  </div>
                    <!-- <p><span class="description-title">Last known location:</span> </p> -->
                  </div>
                  <div class="row  m-4 mt-0 ">
                    <div class="col text-center">
                      <div *ngIf="role=='admin'">

                        <div *ngIf="!editMode">
                        <button type="button" class="btn btn-info " data-bs-toggle="modal" (click)="changeEditMode()"> UpdateMode </button>
                        </div>
                        <div *ngIf="editMode">
                          <button type="button" class="btn btn-info " data-bs-toggle="modal" data-bs-target="#updateModal" > Update </button>
                        </div>

                      </div>
                    </div>

                    <div class="col text-center">
                      <div *ngIf="role=='admin'">

                        <div *ngIf="!editMode">
                          <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete </button>
                        </div>
                        <div *ngIf="editMode">
                          <button type="button" class="btn btn-secondary " (click)="changeEditMode()">Back</button>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
      </div>
      <!--Update Modal -->
      <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Record?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to update the record, is it permanently updated?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Tab</button>
            <button type="button" class="btn btn-info" (click)="updateCharacter()" data-bs-dismiss="modal">Update Record</button>
            </div>
        </div>
        </div>
    </div>
          <!-- Delete Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Record?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete the record, is it permanently deleted?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close Tab</button>
                <button type="button" class="btn btn-danger" (click)="deleteCharacter()" data-bs-dismiss="modal">Delete Record</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<ng-template #wait>Waiting for the data<br> if it takes to long maybe the character don't exists...</ng-template>
